.dashed-border {
    border-style: dashed;
}

@keyframes scanline {
    0% {
        top: 0%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 100%;
        opacity: 0;
    }
}

.animate-scanline {
    animation: scanline 4s linear infinite;
}

@keyframes slide-stripes {
    0% { background-position: 0 0; }
    100% { background-position: 30px 0; }
}

.progress-bar-stripes {
    background-image: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.4) 75%,
        transparent 75%,
        transparent
    );
    background-size: 30px 30px;
    animation: slide-stripes 1s linear infinite;
}